<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
</head>
<body>
    <div class="layout-container">
        {% include "sub/sidebar.html" %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
